<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">birthdate</th>
            <th scope="col">address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% user_game_biodata.forEach(i => { %>
            <th scope="row"><%= i.id %></th>
            <td><%= i.username %></td>
            <td><%= i.birthdate %></td>
            <td><%= i.address %></td>
          </tr>
            <% }) %>
        </tbody>
      </table>
</body>
</html>