<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C3C_Handy</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></head>
    <!-- External Fonts -->
    
    <!-- My CSS -->
    <link rel="stylesheet" href="/style.css">
<body>
    
    <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav nav1 ml-5">
            <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link " href="#">Work</a>
            <a class="nav-link " href="#">Contact</a>
            <a class="nav-link " href="#">About Me</a>
          </div>
          
            <div class="navbar-nav nav2" >
              <a class="nav-link " href="/register">Sign Up <span class="sr-only">(current)</span></a>
              <a class="nav-link " href="/login">Login</a>
            </div>
          
        </div>
        </div>
      </nav>
      
    <!-- navbar end  -->
    
    
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
        <p class="lead">Experience new traditional game play.</p>
        <a href="/game" class="btn btn-warning" >PLAY NOW</a>
        <a href="#" class="nav-link cus-txt" >The Story</a>
        <img src="img/icon_scrollDown.svg" alt="">

      </div>
    </div>
     

    <!-- jumbotron end -->

    <!-- about -->
    <div class="about">
       
      <div class="overlay">
      </div> 
    
      <div class="row ">
        <div class="col-4 col-left">
          <h3 class="cus-h3">What's so special?</h3>
          <h1 class="cus-h1">The Games</h1>
        </div>
        <div class="col-5 col-right">
          <div class="carousel">
            <img src="img/icon_left.svg" alt="" class="ic-left">
            <img src="img/img_1.jpg" alt="" class="rps">
            <img src="img/icon_right.svg" alt="">
                  
          </div>
          <div class="dot-1">
            <img src="img/icon_dot1.svg" alt="">
            <img src="img/icon_dot.svg" alt="">
            <img src="img/icon_dot.svg" alt="">
            <img src="img/icon_dot.svg" alt="">
            <img src="img/icon_dot.svg" alt="">
          </div>
        </div>
      </div>
  </div>
  
    </div>
    <!-- about end -->
    
    <!-- feature -->
    <div class="row feature">
       
      <div class="ftr-overlay" >
      </div> 
     
      <div class="col-4 offset-md-4 ftr-txt-1">
        
        
        <h3 class="cus-h3">What's so special?</h3>
        <h1 class="cus-h1">Features</h1>
        <ul class="ftr-txt-2">
          <li class="cus-h2 ftr-txt-2">Traditional Games</li>
            <div ><p class="cus-h4">If you miss your childhood, we provide many traditional games here</p></div>
          <li class="cus-h2 ftr-txt-2">Game Suit</li>
          <li class="cus-h2 ftr-txt-2">TBD</li>
        </ul>

      </div>
      
      

  </div>
  <!-- feature end -->
  
  <!-- req -->
   <div class="row req">
      <div class="req-overlay" >
      </div> 
         <div class="col-4 req-txt-1">
          <h1 class="cus-h1">System Requirements</h1>
          <h3 class="cus-h4">Can my computer run this game?</h3>
          <table class="req-tbl">
            <tr>
            <td>
              <h2 class="cus-h2">OS:</h2>
              <h4 class="cus-h4">Windows 7 64-bit only <br>
              (No OSX support at this time)</h2>
            </td>
            <td>
              <h2 class="cus-h2">Processor:</h2>
              <h4 class="cus-h4">Intel Core 2 Duo @ 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GHZ</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2 class="cus-h2">Memory:</h2>
              <h4 class="cus-h4">4 GB RAM</h2>
            </td>
            <td>
              <h2 class="cus-h2">Storage:</h2>
              <h4 class="cus-h4">8 GB Available space</h2>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 class="cus-h2">Graphics:</h2>
              <h4 class="cus-h4">NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h2>
            </td>
          </tr>
        </table>
      </div>
    </div>

  <!-- req end -->

  <!-- score -->
  
  <div class="scr">
    <div class="scr-overlay"></div>
    <!-- <div class="overlay"></div> -->
    
    

    <div class="card scr-card">
      
      <div class="">
        <h5 class="card-title">Top Scores</h5>
        <p class="card-text cus-h4">This top score from various games provided on this platform.</p>
        <a href="#" class="btn btn-warning">See More</a>
      </div>
    </div>

    <div class="card-group">
    <div class="card mb-3 my-card-1" style="max-width: 300px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="img/pic_1.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="scr-h5">Evan Lathi</h5>
            <p class="scr-txt">PC Gamer</p>
            <p class="scr-txt-2">"One of my gaming highlights of the year."</p>
            <p class="card-text"><small class="text-muted">October 18, 2018</small></p>
          </div>
        </div>
        <div class="col-md-1">
          <img src="img/twitter.svg" class="img-card" alt="...">
        </div>
        
      </div>
    </div>
    <div class="card mb-3 my-card-2" style="max-width: 300px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="img/pic_2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="scr-h5">Jada Griffin</h5>
            <p class="scr-txt">Nerdreactor</p>
            <p class="scr-txt-2">"The next big thing in the world of streaming and survival games."</p>
            <p class="card-text"><small class="text-muted">December 21, 2018</small></p>
          </div>
        </div>
        <div class="col-md-1">
          <img src="img/twitter.svg" class="img-card" alt="...">
        </div>
        
      </div>
    </div>
    <div class="card mb-3 my-card-3" style="max-width: 300px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="img/pic_3.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="scr-h5">Aaron Williams</h5>
            <p class="scr-txt">Uproxx</p>
            <p class="scr-txt-2">"Snoop Dogg playing the wildly entertaining 'SOS' is ridiculous."</p>
            <p class="card-text"><small class="text-muted">December 24, 2018</small></p>
          </div>
        </div>
        <div class="col-md-1">
          <img src="img/twitter.svg" class="img-card" alt="...">
        </div>
        
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-lg col-right">

      </div>
    </div>
    <div class="row">
      <div class="col-lg col-right">
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg col-right">
        
      </div>
    </div>
    
  </div>

  <!-- score end -->

  <!-- newsletter -->

  <div class="nl">

    

    <div class="nl-img">
      <img src="img/img_2.jpg" alt="">
      <div class="nl-overlay">
      </div>
    </div>
    <div class="nl-form">
      <h3 class="cus-h3">Want to stay in touch?</h3>
      <h1 class="cus-h1">Newsletter Subscribe</h1>
      <h5 class="scr-txt nl-txt-3">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</h5>

       <form>
        <div class="row">
          <div class="col">
            <div class="card my-form">
              <div class="nl-txt-2">
                Your email address
              </div>
              <div class="nl-txt-1">
                youremail@binar.co.id
              </div>
            </div>
          </div>
          <div class="col">
            <a href="#" class="btn btn-warning" >Subscribe Now</a>
          </div>
        </div>
      </form>

    </div >
    <div class="container my-footer">
      <ul class="footer-list">
        <li class="li-footer">
          <a class="nav-link " href="#">Main <span class="sr-only">(current)</span></a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">About</a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">Game Features</a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">System Requirements</a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">Quotes</a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">
            <img src="img/icon_fb.svg" alt="">
          </a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">
            <img src="img/icon_twitter.svg" alt="">
          </a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">
            <img src="img/icon_youtube.svg" alt="">
            <img src="img/icon_cursor-1.svg" alt=""class="yt-cursor-1">
            <img src="img/icon_cursor-2.svg" alt=""class="yt-cursor-2">
          </a>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">
            <i>
            <img src="img/icon_discord-1.svg" alt=""class="dc-1">
            <img src="img/icon_discord-2.svg" alt=""class="dc-2">
            </i>
          </a>
        </li>
      
      </ul>
      <hr >
      <div class="copyright">
        <span class="cus-footer-txt">&#169; 2018 Your Games, Inc. All Rights Reserved.</span>

        <ul class="footer-list bottom-foot"></ul>
        <li class="li-footer">
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">Privacy Policy <span class="sr-only">(current)</span></a>
        </li>
        <li class="li-footer">
          <span class="separator">|</span>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">Term of Services</a>
        </li>
        <li class="li-footer">
          <span class="separator">|</span>
        </li>
        <li class="li-footer">
          <a class="nav-link " href="#">Code of Conduct</a>
        </li>
      </div>
    </div>



  </div>

  <!-- newsletter end -->



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>