/* Navbar */
.navbar-brand {
  font-size: 30px;
}
/* jumbotron */
.jumbotron {
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../img/jumbotron.png");
  background-size: cover;
  background-position: center;
  height: 960.14px;
  text-align: center;
  color: white;
  margin-top: -90px;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron h1 {
  font-family: Arial;
  font-style: normal;
  font-size: 80px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 200px;
  font-weight: bold;
}

.jumbotron h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 57px 0px 57px 0px;
}

.btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  border: none;
  line-height: 2;
  width: 260px;
  height: 60px;
}

.jumbotron .story {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 285.22px;
  margin-bottom: 0px;
}

.jumbotron .scroll-down img {
  height: 8.17px;
  width: 20.25px;
}

.jumbotron .scroll-down img:hover {
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Call to action */
.about {
  height: 100vh;
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      #080a0b 80.74%
    ),
    url("../img/call-to-action.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about .container .row {
  margin: auto;
}

/* Features */
.feature {
  height: 100vh;
  background: radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    ),
    url("../img/features.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Requirements */
.requirements {
  height: 960.16px;
  background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("../img/sys-req.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  display: flex;
  flex-direction: row;
  padding-top: 136px;
}

.requirements .heading .desc {
  max-width: 635px;
}

.heading .ask {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-right: -100px;
}

.spec-box {
  max-width: 573.2px;
  margin-top: 158.73px;
}

.tbl .tbl-rounded tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

p.t-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  text-transform: uppercase;
  opacity: 1 !important;
}

p.t-desc {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 1 !important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 573.2px;
  padding: 15px;
}
table tr th,
table tr td {
  border-right: 1px solid #979797;
  border-top: 1px solid #979797;
  padding: 15px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #979797;
}
table tr th {
  background: #eee;
  border-top: 1px solid #979797;
  text-align: left;
}

table tr:last-child td:last-child {
  border-bottom: 1px solid #979797;
}

/* Top score */
.quotes {
  height: 960.14px;
  background: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    ),
    url("../img/score.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.quotes .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quotes-wrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.fisrt-quotes {
  align-self: flex-end;
}

.third-quotes {
  align-self: flex-end;
}

p.sub-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 380;
}

.card {
  max-width: 452.59px;
  display: flex;
  margin: 30px;

  transition: 0.3s;
}

.card:hover {
  background-color: #3e8e41;
  color: white;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.card-header img {
  height: 65.27px;
  width: 65.27px;
  border-radius: 65.27px;
  box-shadow: 10px 3px 3px #ffb548;
  -moz-box-shadow: 10px 3px 3px #ffb548;
  -webkit-box-shadow: 10px 3px 3px #ffb548;
  -khtml-box-shadow: 10px 3px 3px #ffb548;
  margin-right: 30px;
}

.card-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p.name {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  margin-bottom: 0px;
}

p.profession {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 0px;
}

.card-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.card-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Newsletter */
.newsletter {
  background-color: #080a0b;
  height: 959.87px;
  height: 960.14px;
}

.stone {
  background: radial-gradient(
      45.43% 53.19% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 46.15%,
      #080a0b 99.74%
    ),
    url("../img/news.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 694.41px;
}

/* imput */
/*------------------------------------------------------------------*/
.subscribe {
  display: flex;
  flex-direction: row;
}

.wrap-input {
  position: relative;
  border-radius: 5px;
  padding: 6px 02px 8px 20px;

  width: 366.92px;
  height: 60px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
}

.label-input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 4px;
  display: block;
  margin: 0px;
}

input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffb548;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 95%;
}

/*---------------------------------------------*/
::placeholder {
  color: #ffb548;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffb548;
}

::-ms-input-placeholder {
  color: #ffb548;
}

.center {
  display: flex;
  align-items: center;
}

/* footer */
.footer {
  margin-top: 50px;
  width: 100%;
}

.menus {
  align-self: flex-end;
  text-align: right;
}

.menu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.menus .menu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 20px;
}

.menu:hover {
  text-decoration: none;
}

.policy {
  text-align: right;
}

/* ------------link social --------------- */

.fa-facebook-f::after {
  color: #3b5999;
}
.fa-facebook-f::before {
  color: white;
}
.fa-twitter::after {
  color: #55acee;
}
.fa-twitter::before {
  color: #fff;
}
.fa-youtube-play::after {
  color: #cd201f;
}
.fa-youtube-play::before {
  color: #fff;
}
.fa-twitch::after {
  color: #e4405f;
}
.fa-twitch::before {
  color: #fff;
}

.fa-facebook-f:hover:before {
  color: #3b5999;
}
.fa-twitter:hover:before {
  color: #55acee;
}
.fa-youtube-play:hover:before {
  color: #cd201f;
}
.fa-twitch:hover:before {
  color: #e4405f;
}

@media screen and (max-width: 990px) {
  .jumbotron .story {
    margin-top: 160px;
  }
  .column {
    width: 100%;
  }
  .subscribe {
    flex-direction: column;
  }
  .subscribe .ml-3 {
    margin-left: 0px !important;
    margin-top: 10px;
  }
}

@media screen and (max-width: 690px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 769px) {
  .jumbotron .story {
    margin-top: 150px;
  }
  .heading {
    padding-top: 50px;
  }
  .spec-box {
    margin-top: 0px;
  }
  .quotes .container {
    flex-direction: column;
  }
  .quotes-wrapper {
    width: auto;
  }
  .stone {
    display: none;
  }
  .center {
    margin-top: 50px;
  }
  .subscribe {
    align-items: flex-end;
  }
}

@media screen and (max-width: 489px) {
  html,
  body {
    width: fit-content;
  }
  p.desc {
    font-size: 42px;
  }
}
